@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('../static/color.css');

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--background-color)
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  padding: 0.75rem 2rem;
  color: var(--navbar-font);
  background-color: var(--navbar-color);
  transition: background-color 0.3s ease-in-out;
}

.navbar-link {
  padding: 0.95rem 2rem;
  color: var(--navbar-font) !important;
  transition: background-color 0.3s ease-in-out;
}

.navbar-link:hover,
.navbar-brand:hover {
  margin: 0;
  color: var(--navbar-font) !important;
  background-color: var(--navbar-hover);
}

.bg-primary {
  background-color: var(--navbar-color) !important;
  color: var(--button-font);
  background-color: var(--navbar-color);
  border-color: var(--navbar-color);
}

.container {
  background: linear-gradient(to bottom, var(--background-gradient), var(--background-color));
}

.container.mt-5 {
  padding: 2rem;
  border-radius: 5px;
}

.col-md-6{
  padding: 1rem;
  border-radius: 5px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1553531887-4b6dc03b94f7');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--background-color);
  height: calc(100vh - 56px);
}

.btn-primary:hover {
  color: var(--button-font);
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.btn-outline-primary {
  color: var(--navbar-color);
  border-color: var(--navbar-color);
}

.btn-outline-primary:hover {
  color: var(--button-font);
  background-color: var(--navbar-color);
  border-color: var(--navbar-color);
}


/* Custom styles for the center div */

.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .card-title {
    font-size: 36px;
    color: #555;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 18px;
    color: #888;
    margin-bottom: 30px;
  }

  .list-group-item {
    background-color: transparent;
    font-size: 18px;
    color: #555;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .list-group-item:last-child {
    border-bottom: none;
  }

  .form-control {
    border-radius: 4px;
    border: none;
    background-color: #eee;
  }

  .form-control:focus {
    border-color: var(--button-color);
    box-shadow: none;
  }

  .warning{
    font-weight: bold;
    color: var(--warning-font)
  }


  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }

  table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem;
    border-top: 0;
  }

  table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem;
    border-top: 0;
  }