<html>
  <head>
    <title>Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Index page</h1>
      <br>
      {% if login %}
        <p class="error">Welcome: {{ login }} </p>
        <form action="/logout" method="post">
            <input type="submit" value="Log out">
        </form>
      {% else %}
        <form action="/login" method="post">
          <input type="submit" value="Sing in">
      </form>
      {% endif %} 

      {% if role == 'admin' %}
        <form action="/show_users" method="post">
          <input type="submit" value="Show all users">
        </form>
      {% endif %}
        

      {% if users %}
      <ol>
        {% for user in users %}
            <li>{{ user}}</li>
        {% endfor %}
      </ol>
      {% endif %} 

    </div>
  </body>
</html>