<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please sign in</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Login or email" name="creds" value="{{
          request.form.creds }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Sign in">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %} 
    </div>
  </body>
</html>